<div class="container blog">
  <div class="col-xs-12 col-sm-10 col-offset-sm-1">
  <h2 class="main-title">My blog</h2>
    <% @blogs.each do |blog| %>
      <%= link_to blog_path(blog) do %>
        <h3 class="title"><%= blog.title %></h3>
        <h5 class="time_ago"><%= time_ago_in_words(blog.created_at) %></h5>
        <%= simple_format(truncate(blog.description, length: 200)) %>
      <% end %>
      <hr>
    <% end %>
  </div>
</div>
