
.blog {

  .main-title {
    margin-top: 60px;
    margin-bottom: 60px;
    color: #fff;
  }

  .title {

    margin-top: 60px;
    margin-bottom: 30px;
  }

  p{
    color: #ccc;
  }

   h3 {
    color: #43D231;
  }

  .time_ago {
    font-style: italic;
    font-size: 12px;
    color: #43D231;

  }
}
