.wrapper {
  box-shadow          : 0 1px 5px 0 rgb(67, 210, 49), 0 1px 0 0 rgba(67, 210, 49, 0.26);
  padding             : 50px;
  color               : #ccc;
  background-position : cover;
  background-repeat   : no-repeat;
  background-position : center center;
  height              : 50vh;
  background-image    : linear-gradient(225deg, rgba(67,210,49,0.7) 30%,  rgba(67,210,49,0.3) 80%),  image_url("keyboard.jpg");
  h1, h2, p {
    color             : #fff;
  }
  p {
    font-style        : italic;
  }
}

.tools {
  padding             : 30px;

  h3 {
    color             : #43D231;
    text-align        : center;
    margin-bottom     : 50px;
  }
  ul {
    list-style        : none;
    color             : #ccc;
  }
}

//my_green
//#43D231

//my_orange
//#FF8000


//#008000
