<div class="navbar-wagon">
  <%= link_to "<i class='fa fa-envelope'></i> Contact".html_safe, "#"  %>
  <%= link_to "<i class='fa fa-code'></i>Projects".html_safe, projects_path, class: ("active" if current_page?(projects_path)) %>
</div>

