<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "logo-share" do %>
    <i class="fa fa-money" aria-hidden="true"></i>
  <% end %>

    <%= link_to "Contact", "#"  %>
    <%= link_to "Test", "#"  %>

  </div>

</div>

