<div class="wrapper">
  <div class="row">
    <div class="col-xs-12">
      <h1>Nelly Duclos</h1>
      <h2>Full Stack Web Developer</h2>
    </div>
  </div>
    <div class="row">
      <div class="col-xs-4 col-sm-offset-6 col-sm-2">
        <div class="social">
          <%= link_to "<i class='fa fa-github'></i>".html_safe, 'https://github.com/knopfler81', target: "_blank" %>
        </div>
      </div>
      <div class="col-xs-4 col-sm-2">
        <div class="social">
          <%= link_to "<i class='fa fa-linkedin'></i>".html_safe, 'https://linkedin.com/in/nelly-duclos', target: "_blank" %>
        </div>
      </div>
      <div class="col-xs-4 col-sm-2">
        <div class="social">
          <%= link_to "<i class='fa fa-user'></i>".html_safe, 'http://www.doyoubuzz.com/nelly-johan', target: "_blank" %>
        </div>
      </div>
    </div>

</div>
<div class="container">
  <div class="tools">
    <div class="row">

        <h3><i class="fa fa-wrench"></i> My tools</h3>
        <div class="col-xs-12 col-md-offset-1 col-md-3">
          <ul>
            <li>Ruby</li>
            <li>Ruby On Rails</li>
            <li>Git-GitHub</li>
            <li>Heroku</li>
          </ul>
        </div>

        <div class="col-xs-12 col-md-3">
          <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Bootstrap</li>
            <li>SASS</li>
            </ul>
        </div>

        <div class="col-xs-12 col-md-3">
          <ul>
            <li>Mac OSX El Capitan</li>
            <li>Sublime Text</li>
            <li>Slack</li>
            <li>Trello</li>
          </ul>
        </div>
    </div>

  </div>

</div>
