<div class="container">
  <h1>Nelly Duclos</h1>
  <h2>Full Stack Web Developper</h2>
  <ul class="social">
    <li><%= link_to "<i class='fa fa-github'></i>".html_safe, 'https://github.com/knopfler81', target: "_blank" %></li>
    <li><%= link_to "<i class='fa fa-linkedin'></i>".html_safe, 'https:/linkedin.com/in/nelly-duclos', target: "_blank" %></li>
  </ul>



</div>
