<div class="container">
<!-- <h1 class="cards-main-title">Some projects</h1> -->
  <div class="content">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/saJxqJ9TfqQ?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          <p class="text-white">#1 Rails5 - Application météo</p>
        </div>
      </div>
        <div class="col-xs-12 col-md-6">
          <div class="video">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/wdcGIFe3pCU?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
             <p class="text-white">#2 Rails5 - Générer un pdf</p>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>

